*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/imagens/bg.png");
}


body::before{
    background-color: rgba(0, 0, 0, 0.2);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1F22;
    padding: 30px;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    

}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #FFAE00;
}

h1{
    text-align: center;
    color:black;
    margin: 20px;
}

h2{
    color: orange;
    text-align: center;
    padding: 20px;
}

.boxProduto{
    display: flex;
    margin: 30px auto;
    width: 600px;
    height: auto;
    border-radius: 25px;
    background-color: rgba(37, 37, 37, 0.8);
}
@media (max-width: 100px) {
    .boxProduto {
        width: 100%;
    }
}

Img{
   width: 300px;
   height: auto;
}



.boxTexto{
    color: white;
    padding: 10px;
}

.btn{
    background-color: #FFAE00;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    color: white;
    margin: 10px;
   

}
.btn:hover{
    background-color: #a87403;
}